@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}


/* Shared Style  */
.primary-color{
    color: #FF42A5;
}
    .btn-primary{
        background:#FF42A5;
        border-radius: 45px;
        border: 0;
        font-size: 18px;
        color: white;
        font-weight: 600;
        padding: 15px 35px;
    }
    .btn-secondary{
        border-radius: 48px;
        background: #4EC5F7;
        border: 0;
        font-size: 18px;
        color: white;
        font-weight: 600;
        padding: 15px 35px;
    }
/* navbar styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-right: 7.5rem;
   padding-left: 7.5rem;
    background-color: #FFFFFF;
    height: 150px;
}
.logo-div{
    display: flex;
    gap: 12px;
    align-items: center;
}
.menu-item{
    display: flex;
}
nav h3{
    text-align: center;
    font-size: 2.8rem;
    color: #0B0223;
    font-weight: 700;
}

nav li{
    list-style: none;
    margin-right:30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color:#3C354F;
}
.li-color{
    background-color: #d4d3d8;
    padding:5px;
    margin: -5px;
    border-radius: 5px;
}

/* banner section styles */
header{ 
    background:url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left, top left;
    background-size: 700px;
} 
.banner{
    display: flex;
   justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red;  */
    height: calc(100vh - 150px);
    gap: 10px;
  
  
}


.banner-img-box{
    width: 50%;
     /* border: 1px solid blue;  */
     text-align: center;
    
}
.banner-img{
    width: 80%;
}

.banner-title{
    color: #0B0223;
    font-size: 2.9rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 50px;
}

.goat{
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -25px;
    margin-bottom: -10px;
}

.banner-description{
    padding: 5px;
}
.btn{
    margin-top: 50px;
}

/* responsive for mobile device */

@media screen and (max-width:576px) {
   .nav-bar{
    flex-direction: column;
   }

   .menu-item{
    flex-direction: column;
    gap: 10px;

   }
   .banner{
    flex-direction: column-reverse;
    padding-top: 350px;
    background: none;
   }
   .banner-content{
    width: 90%;  
   }
   .banner-img{
    width:100%;
   }
   .banner-title{
    font-size: 1.9rem;
    text-align: center;
   }
   .goat{
    text-align: center;
    font-size: 4.0rem;
    font-weight: 800;
}


.banner-description{
    padding-left: 100px;
}


   
}