@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}


/* Shared Style  */
.primary-color{
    color: #FF42A5;
}
    .btn-primary{
        background:#FF42A5;
        border-radius: 45px;
        border: 0;
        font-size: 18px;
        color: white;
        font-weight: 600;
        padding: 15px 35px;
    }
    .btn-secondary{
        border-radius: 48px;
        background: #4EC5F7;
        border: 0;
        font-size: 18px;
        color: white;
        font-weight: 600;
        padding: 15px 35px;
    }
/* navbar styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-right: 7.5rem;
   padding-left: 7.5rem;
    height: 150px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-div{
    display: flex;
    gap: 12px;
    align-items: center;
}
.menu-item{
    display: flex;
}
nav h3{
    text-align: center;
    font-size: 2.8rem;
    color: #0B0223;
    font-weight: 700;
}

nav li{
    list-style: none;
    margin-right:30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color:#3C354F;
}
.li-color{
    background-color: #d4d3d8;
    padding:5px;
    margin: -5px;
    border-radius: 5px;
}

/* banner section styles */
header{ 
    background:url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left, top left;
    background-size: 700px;
} 
.banner{
    display: flex;
   justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red;  */
    height: calc(100vh - 150px);
    gap: 10px;
  
  
}


.banner-img-box{
    width: 50%;
     /* border: 1px solid blue;  */
     text-align: center;
    
}
.banner-img{
    width: 70%;
}

.banner-title{
    color: #0B0223;
    font-size: 2.9rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px;
}

.goat{
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -35px;
    margin-bottom: -10px;
}

.banner-description{
    padding: 5px;
}
.btn1, .btn2{
    margin-top: 20px;
}

/* We are gamer Section  */
main{
    max-width: 1440px;
    margin: 70px auto;
}

.gamer-container{
    /* border: 1px solid saddlebrown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
    /* padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px; */

}
.gamer-img-container{
    width: 50%;
    padding-right: 4rem;
   
}

.gamer-content{
    padding-right: 50px;
    text-align: right;
}

.game-title{
    font-size: 2.8rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.game-paragraph{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    width: 370px;
}

.gamer-purpose, .play-purpose-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
}

.gamer-purpose-description{
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 700;
}
/* Online gamer section  */
.online-game-container{
    text-align: center;
    justify-content: space-between;
    padding: 50px;
}
.online-game-title, .play-description-title{
    color: #0B0223;
    font-size:2.8rem;
    font-weight: 700;
}
.online-game-title-purple{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.grid-layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 40px;
    padding-right: 90px;
    padding-left: 90px;
    gap: 10px;
}

.grid-container-img{
    width: 250px;
    height: 300px;
}
.grid-description{
    text-align: left;
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.play-section-container{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    margin-top: 30px;
    gap: 10px;
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 0px;
    
    
}
.play-section-description{
    /* border: 2px solid #F948B2; */
    padding: 50px;
    justify-content: center;
    align-items: center;
    /* width: ; */
}
.feature-img-container{
    /* border: 3px solid red; */
    width: 100%;
}
.feature-img{
    width: 80%;
   
}

.img-badge{
    border-radius: 8px;
    
    /* border: 10px solid #FFF; */
    /* background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat; */
    padding-left: 15rem;
    position: relative;
    bottom:12rem ;

}
.play-section-description{
    text-align: left;
}


/* responsive for mobile device */

@media screen and (max-width:576px) {
    header{
        background: none;   }
   .nav-bar{
    flex-direction: column;
   }

   .menu-item{
    flex-direction: column;
    gap: 10px;

   }
   .banner{
    flex-direction: column-reverse;
    padding-top: 350px;
    background: none;

   }
   .banner-content{
    background: url('../images/Group\ 14.png');
    width: 100%;  
    text-align: center;
   }
   .banner-img-box{
    width:100%;
   }
   .banner-img{
    width: 70%;
   }
   .banner-title{
    font-size: 2.3rem;
    
   }
   .goat{
   
    font-size: 4.9rem;
    font-weight: 800;
}


.banner-description{
    
}
/* .btn1{
    margin-left: 20px;
} */
/* gamer section responsiv */
.gamer-container{
    padding-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
 
}
.gamer-img-container{
    width: 100%;
    padding-right: 0rem;
    
}
.gamer-img{
    width: 100%;
}
.gamer-content{
    text-align: center;
    padding-right: 0px;
}

/* online game section */
.grid-layout{
    grid-template-columns: 1fr;
    padding-left: 0px;
    padding-right: 0px;
}
.grid-container-img{
    width: 100%;
}
.online-game-title{
font-size: 1.5rem;
}
.online-game-description{
    font-size: 0.7rem;
}

/* play download section */
.play-section-container{
    flex-direction: column-reverse;
}
 /* .feature-img-container{ */
    /* border: 3px solid red; */
    /* width: 100%; */
/* }  */
.feature-img-container{
    width: 100%;
   
}
.feature-img{
    width: 250px;
    height: 300px;
}
.img-badge{
    border-radius: 8px;
    
    /* border: 10px solid #FFF; */
    /* background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat; */
    padding-left: 9rem;
    position: relative;
    bottom:5rem ;
}

.badge{
    width: 150px;
    height: 170px;
}
.play-section-container{
   
        /* border: 1px solid rebeccapurple; */
        display: flex;
        margin-top: 30px;
        gap: 10px;
        padding: 20px;
        
        
    }
    
.play-description-title{
    font-size: 1.2rem;
    text-align: center;
}
.play-purpose-description{
    font-size: 0.9rem;
    text-align: center;
}
.feature-img-container{
    text-align: center;
}
}


/* .hide{
    visibility: hidden;
} */